<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <form action="#" th:action="@{/}" th:object="${person}" method="post">
        <p>
            My name is: <input type="text" th:field="*{name}" />
            <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></label>
        </p>
        <p>
            I am speaking: <select th:field="*{nativeLanguageCode}">
                              <option th:each="locale : ${allLocales}"
                                      th:value="${locale.getLanguage()}"
                                      th:text="${locale.getDisplayLanguage(T(java.util.Locale).ENGLISH)}">
                              </option>
                          </select>
            <label th:if="${#fields.hasErrors('nativeLanguageCode')}" th:errors="*{nativeLanguageCode}"></label>
        </p>
        <p><input type="submit" value="Greet Me!" /></p>
    </form>
    <ul th:unless="${#lists.isEmpty(errors)}">
        <li th:each="error : ${errors}" th:text="${error.toString()}"></li>
    </ul>
    <ul id="greetings" th:unless="${#lists.isEmpty(greetings)}">
        <li th:each="greeting : ${greetings}" th:text="${greeting.message}"></li>
    </ul>
</body>
</html>